.Bar{
    position: sticky;
    top: 0;
    background-color: cornflowerblue;
    display: block;
    list-style: none;
    height: 55px;
    border-top: none;
    border-bottom: solid 1px black;
    width: 100%;
}
.collapse.in {
    margin-top: -8px;
}
.collapsing {
    margin-top: -8px;
}
.leftbar{
    display: flex;
    padding: 0 40px;
    margin-bottom: 2px;

    
}
.sl{
    padding-right: 40px;
    
}
.select{
    background-color: cornflowerblue;
    position: relative;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: solid 1px black ;
    border-top: none;
    padding: 50px;
    margin-top: 5px;

    
}
.quanlytuyendung, .quanlyhoso, .quanlychamcong, .quanlytienluong{
    height: 53px;
    border: none;
    width: 200px;
    background-color: cornflowerblue;
    color: white;
    text-transform: uppercase;
    margin-left: 30px;

}
.selectlink{
    margin-top: 10px;
    color: white;
    font-size: 18px;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.resize{
    display: block;
    margin-left: -50px;
    margin-right: -50px;
    margin-bottom: -50px;
    margin-top: -40px;
}

.but,.quanlycongtacnhanvien ,.quanlycalamviec{
    background-color: cornflowerblue;
    border: none;
    border-top: solid 1px blue;
    margin-top: -6px;
}

.linksl{
    color: white;
}
.tdtd, .qlhsuv{
    background-color: brown;
    margin-top: 10px;
    width: 240px;
    height: 30px;
}
.resize1{
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;
}
.select1{
    background-color: blueviolet;
    position: relative;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
    padding: 50px;
    margin-top: -5px;
    margin-bottom: -20px;
}

.quanlycongtacnhanvien , .quanlycalamviec{
    background-color: blueviolet;
}
